@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GC Coffee Shop</h1>
    <p class="lead">GC Coffee Shop offers tasty coffee delights and a few baked goods to get you day started off right!</p>
    <p><a href="http://www.ncausa.org/about-coffee/what-is-coffee" target="_blank"  class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>New User</h2>
        <p>
           Click here to register as a new user to be elidgible for discounts and our newsletter!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Register", "AddUser", "Database")</a></p>
    </div>
    <div class="col-md-6">
        <h2>Check out our items!</h2>
        <p>Here is a list of the drinks and food we offer, take a look!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Food/drinks", "ItemList", "Database")</a></p>
    </div>
    
</div>